* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header_index {
  max-width: 2000px;
  margin: 0 auto;
  height: 100vh;
  background: url(/img/index/header_background.webp) center no-repeat;
  background-size: cover;
  position: relative; }
  .header_index .top_nav_mobile_index {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .header_index .top_nav_mobile_index a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Ubuntu', sans-serif; }
      .header_index .top_nav_mobile_index a:not(:last-child) {
        margin-bottom: 10px; }
      .header_index .top_nav_mobile_index a:hover {
        color: #00fff2;
        transition-duration: 0.3s; }
    .header_index .top_nav_mobile_index .close_mobile_menu {
      position: absolute;
      top: 20px;
      right: 20px;
      text-transform: uppercase; }
  .header_index .top_menu_index {
    max-width: 1200px;
    padding: 0 20px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header_index .top_menu_index a {
      color: white;
      text-decoration: none;
      font-family: 'Ubuntu', sans-serif; }
      .header_index .top_menu_index a:hover {
        color: #00fff2;
        transition-duration: 0.3s; }
    .header_index .top_menu_index .logo_top_index {
      font-size: 44px; }
      .header_index .top_menu_index .logo_top_index::after {
        content: "";
        display: block;
        width: 70px;
        height: 2px;
        background: white; }
    .header_index .top_menu_index .logo_top_index:hover::after {
      background: #00fff2; }
    .header_index .top_menu_index .top_nav_index {
      width: 400px;
      display: flex;
      justify-content: space-between; }
      .header_index .top_menu_index .top_nav_index .close_mobile_menu {
        display: none; }
    .header_index .top_menu_index .burger_menu_index {
      width: 35px;
      height: 25px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer; }
      .header_index .top_menu_index .burger_menu_index .strip_burger_menu_index {
        width: 100%;
        border: 1px solid white; }
    .header_index .top_menu_index .burger_menu_index:hover .strip_burger_menu_index {
      border-color: #00fff2;
      transition-duration: 0.3s; }
  .header_index .header_hello_index {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center; }
    .header_index .header_hello_index .h1_index {
      font-size: 70px;
      font-family: 'Times New Roman', Times, serif; }
    .header_index .header_hello_index .txt_header_index {
      font-family: 'Cormorant Infant', serif;
      font-size: 40px; }
    .header_index .header_hello_index .box_hello_button_index {
      margin-top: 10%;
      width: 450px;
      display: flex;
      justify-content: space-between; }
      .header_index .header_hello_index .box_hello_button_index .button_index {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid white;
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif; }
        .header_index .header_hello_index .box_hello_button_index .button_index:hover {
          background: white;
          color: black;
          transition-duration: 0.3s; }

.footer_index {
  max-width: 2000px;
  margin: 0 auto;
  height: 100vh;
  display: flex; }
  .footer_index .footer_left_index {
    width: 50%;
    height: 100%; }
    .footer_index .footer_left_index .box_new_index {
      height: 33.3%;
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer_index .footer_left_index .box_new_index .h2_index {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        margin-bottom: 10px; }
      .footer_index .footer_left_index .box_new_index .txt_new_index {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 1.5; }
    .footer_index .footer_left_index .new1_index {
      border-bottom: 1px solid black; }
      .footer_index .footer_left_index .new1_index:hover {
        background: url(/img/index/new1_index.webp) top no-repeat;
        background-size: cover;
        color: white; }
    .footer_index .footer_left_index .new2_index {
      border-bottom: 1px solid black; }
      .footer_index .footer_left_index .new2_index:hover {
        background: url(/img/index/new2_index.webp) top no-repeat;
        background-size: cover;
        color: white; }
    .footer_index .footer_left_index .new3_index:hover {
      background: url(/img/index/new3_index.webp) center no-repeat;
      background-size: cover;
      color: white; }
  .footer_index .footer_right_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative; }
    .footer_index .footer_right_index .txt_footer_index {
      font-size: 120px;
      font-family: 'Cormorant Infant', serif;
      margin-bottom: 20px; }
    .footer_index .footer_right_index .box_goroda_footer_index {
      width: 280px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .footer_index .footer_right_index .box_goroda_footer_index p {
        font-family: 'Bad Script', cursive;
        font-size: 18px; }
        .footer_index .footer_right_index .box_goroda_footer_index p:nth-child(1) {
          margin-right: 40px; }
        .footer_index .footer_right_index .box_goroda_footer_index p:nth-child(2) {
          margin-right: 40px; }
    .footer_index .footer_right_index .bottom_footer_index {
      width: 100%;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 10px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 12px;
      letter-spacing: 1px; }
      .footer_index .footer_right_index .bottom_footer_index a {
        text-decoration: none;
        color: black;
        margin-right: 10px; }
        .footer_index .footer_right_index .bottom_footer_index a:hover {
          text-decoration: underline; }

.main_menu {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: 'Ubuntu', sans-serif; }
  .main_menu a {
    color: black;
    text-decoration: none; }
  .main_menu .logo_main_menu_general {
    font-size: 44px; }
    .main_menu .logo_main_menu_general::after {
      content: "";
      display: block;
      width: 70px;
      height: 2px;
      background: black; }
  .main_menu .nav_main_general {
    width: 380px;
    display: flex;
    justify-content: space-between; }
    .main_menu .nav_main_general a:hover {
      text-decoration: underline; }
  .main_menu .burger_menu_general {
    width: 35px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer; }
    .main_menu .burger_menu_general .strip_burger_menu_general {
      width: 100%;
      border: 1px solid black; }

.top_nav_mobile_general {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2; }
  .top_nav_mobile_general a {
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px; }
    .top_nav_mobile_general a:not(:last-child) {
      margin-bottom: 10px; }
    .top_nav_mobile_general a:hover {
      color: #00fff2; }
  .top_nav_mobile_general .close_mobile_menu_general {
    position: absolute;
    top: 20px;
    right: 20px;
    text-transform: uppercase; }

.strip_menu_general {
  border: 0.5px solid gray; }

.header_statistics {
  max-width: 2000px;
  height: 100vh;
  margin: 0 auto; }
  .header_statistics .box_menu_footer {
    width: 100%;
    height: calc(100vh - 71px);
    display: flex; }

.footer_statistics {
  width: 50%;
  height: 100%;
  background: url(/img/statistics/bg_footer_statistics.webp) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  padding: 0 10px; }
  .footer_statistics .logo_statistics {
    font-size: 150px;
    font-family: 'Ubuntu', sans-serif; }
    .footer_statistics .logo_statistics::after {
      content: "";
      display: block;
      width: 250px;
      height: 2px;
      background: white; }
  .footer_statistics .h1_statistics {
    font-family: "Bad Script", cursive;
    font-size: 22px;
    font-weight: normal;
    text-align: center; }
  .footer_statistics .bottom_footer_statistics {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    letter-spacing: 1px; }
    .footer_statistics .bottom_footer_statistics a {
      color: white;
      text-decoration: none;
      margin-right: 10px; }
      .footer_statistics .bottom_footer_statistics a:hover {
        text-decoration: underline; }

.menu_statistics {
  width: 50%;
  height: 100%; }
  .menu_statistics .sale_menu_sity {
    width: 100%;
    height: 50%;
    background: #f8f8f8;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    position: relative; }
    .menu_statistics .sale_menu_sity .box_sity_statistics {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 30px 30px 30px 30px;
      align-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
      font-family: 'Jura', sans-serif;
      font-size: 22px;
      position: absolute; }
      .menu_statistics .sale_menu_sity .box_sity_statistics .h2_type_menu {
        font-size: 50px;
        font-family: "Cormorant Infant", serif;
        text-align: center;
        font-weight: normal; }
      .menu_statistics .sale_menu_sity .box_sity_statistics p:hover {
        text-decoration: underline;
        cursor: pointer; }
    .menu_statistics .sale_menu_sity .sale_year_menu {
      width: 100%;
      height: 100%;
      position: absolute;
      align-content: center;
      text-align: center;
      transform: scale(0);
      background: #f8f8f8; }
      .menu_statistics .sale_menu_sity .sale_year_menu .h3_name_city {
        align-self: center;
        font-family: "Cormorant Infant", serif;
        font-size: 40px;
        font-weight: normal; }
      .menu_statistics .sale_menu_sity .sale_year_menu p {
        font-family: 'Jura', sans-serif;
        font-size: 22px;
        align-self: center; }
        .menu_statistics .sale_menu_sity .sale_year_menu p:hover {
          text-decoration: underline;
          cursor: pointer; }
    .menu_statistics .sale_menu_sity .sym_irkutsk {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .sale_menu_sity .sym_angarsk {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .sale_menu_sity .sym_bratsk {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .sale_menu_sity .sym_usolye {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .sale_menu_sity .sale_month_menu {
      width: 100%;
      height: 100%;
      position: absolute;
      align-content: center;
      text-align: center;
      transform: scale(0);
      background: #f8f8f8; }
      .menu_statistics .sale_menu_sity .sale_month_menu .h3_name_city {
        align-self: center;
        font-family: "Cormorant Infant", serif;
        font-size: 40px;
        font-weight: normal; }
      .menu_statistics .sale_menu_sity .sale_month_menu .link_name_month, .menu_statistics .sale_menu_sity .sale_month_menu p {
        font-family: 'Jura', sans-serif;
        font-size: 22px;
        align-self: center;
        text-decoration: none;
        color: black; }
        .menu_statistics .sale_menu_sity .sale_month_menu .link_name_month:hover, .menu_statistics .sale_menu_sity .sale_month_menu p:hover {
          text-decoration: underline;
          cursor: pointer; }
    .menu_statistics .sale_menu_sity .smm_irkutsk_2019 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .sale_menu_sity .smm_angarsk_2019 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .sale_menu_sity .smm_bratsk_2019 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .sale_menu_sity .smm_usolye_2019 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
  .menu_statistics .rent_menu_sity {
    width: 100%;
    height: 50%;
    background: #f8f8f8;
    box-sizing: border-box;
    position: relative; }
    .menu_statistics .rent_menu_sity .h2_type_menu {
      font-size: 50px;
      font-family: "Cormorant Infant", serif;
      text-align: center;
      font-weight: normal; }
    .menu_statistics .rent_menu_sity .box_sity_statistics {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 30px 30px 30px 30px;
      align-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
      font-family: 'Jura', sans-serif;
      font-size: 22px;
      position: absolute; }
      .menu_statistics .rent_menu_sity .box_sity_statistics p:hover {
        text-decoration: underline;
        cursor: pointer; }
    .menu_statistics .rent_menu_sity .rent_year_menu {
      width: 100%;
      height: 100%;
      position: absolute;
      align-content: center;
      text-align: center;
      transform: scale(0);
      background: #f8f8f8; }
      .menu_statistics .rent_menu_sity .rent_year_menu .h3_name_city {
        align-self: center;
        font-family: "Cormorant Infant", serif;
        font-size: 40px;
        font-weight: normal; }
      .menu_statistics .rent_menu_sity .rent_year_menu p {
        font-family: 'Jura', sans-serif;
        font-size: 22px;
        align-self: center; }
        .menu_statistics .rent_menu_sity .rent_year_menu p:hover {
          text-decoration: underline;
          cursor: pointer; }
    .menu_statistics .rent_menu_sity .rym_irkutsk {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .rent_menu_sity .rym_angarsk {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .rent_menu_sity .rym_bratsk {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .rent_menu_sity .rym_usolye {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .rent_menu_sity .rent_month_menu {
      width: 100%;
      height: 100%;
      position: absolute;
      align-content: center;
      text-align: center;
      transform: scale(0);
      background: #f8f8f8; }
      .menu_statistics .rent_menu_sity .rent_month_menu .h3_name_city {
        align-self: center;
        font-family: "Cormorant Infant", serif;
        font-size: 40px;
        font-weight: normal; }
      .menu_statistics .rent_menu_sity .rent_month_menu .link_name_month, .menu_statistics .rent_menu_sity .rent_month_menu p {
        font-family: 'Jura', sans-serif;
        font-size: 22px;
        align-self: center;
        text-decoration: none;
        color: black; }
        .menu_statistics .rent_menu_sity .rent_month_menu .link_name_month:hover, .menu_statistics .rent_menu_sity .rent_month_menu p:hover {
          text-decoration: underline;
          cursor: pointer; }
    .menu_statistics .rent_menu_sity .rmm_irkutsk_2019 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .rent_menu_sity .rmm_angarsk_2019 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .rent_menu_sity .rmm_bratsk_2019 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
    .menu_statistics .rent_menu_sity .rmm_usolye_2019 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70px 40px 55px; }
