//СПИСОК САМЫХ ВЫСОКИХ ЗДАНИЙ ИРКУТСК
.main_box_article{
   .date_list_house{
      text-align: right;
      font-style: italic;
      font-size: 14px;
   }
   .zone_list_house{
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 30px;
   }
   .string_table_header_list_house{
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid gray;
      .width_floor_table_list_house{
         width: 150px;
      }
      .width_address_table_list_house{
         width: 250px;
      }
      .width_gk_table_list_house{
         width: 170px;
      }
      .width_map_table_list_house{
         width: 120px;
      }
   }
   .string_data_table_list_house{
      width: 100%;
      margin: 0 auto;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      .width_floor_table_list_house{
         width: 150px;
      }
      .width_address_table_list_house{
         width: 250px;
      }
      .width_gk_table_list_house{
         width: 170px;
      }
      .width_map_table_list_house{
         width: 120px;
      }
      .link_map_table_list_house{
         display: flex;
         justify-content: space-between;
         a{
            color: blue;
            text-decoration: none;
            &:hover{
               text-decoration: underline;
            }
         }
      }
   }
}
//САМЫЕ ВЫСОКИЕ ЗДАНИЯ ИРКУТСК
.main_box_article{
   .txt_box_article_general{
      .link_list_house{
         padding-bottom: 15px;
         display: block;
         color: blue;
      }
   }
}
//ПРИМЕНЕНИЕ ЛИНЕЙНОЙ РЕГРЕССИИ
.main_box_article{
   .txt_box_article_general{
      .formula_linear_regression{
         display: block;
         margin: 20px 0;
      }
      .flr_1{
         height: 30px;
      }
      .flr_2{
         height: 85px;
      }
      .flr_3{
         height: 140px;
      }
      .flr_4{
         height: 90px;
      }
      .flr_5{
         height: 122px;
      }
      .flr_6{
         height: 28px;
      }
      .flr_7{
         height: 55px;
      }
      .flr_8{
         height: 83px;
      }
      .flr_9{
         height: 50px;
      }
      .flr_10{
         height: 50px;
      }
      .flr_11{
         height: 28px;
      }
      .flr_12{
         height: 28px;
      }
      .flr_13{
         height: 28px;
      }
      .flr_14{
         height: 85px;
      }
      .flr_15{
         height: 28px;
      }
      .flr_16{
         height: 50px;
      }
      .scale_linear_regression{
         height: 130px;
         display: block;
         margin: 20px auto;
      }
      .diagram_linear_regression{
         width: 750px;
         margin: 20px auto;
         display: block;
      }
      .table_data_linear_regression{
         max-width: 750px;
         margin: 0 auto;
         margin-bottom: 20px;
         .string_header_table_linear_regression{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            text-align: center;
            height: 40px;
            border-bottom: 1px solid gray;
            .width_data1_table_linear_regression{
               width: 70px;
               // border: 1px solid rgb(0, 217, 255);
            }
            .width_data2_table_linear_regression{
               width: 100px;
               // border: 1px solid rgb(0, 217, 255);
            }
            .width_data3_table_linear_regression{
               width: 150px;
               // border: 1px solid rgb(0, 217, 255);
            }
         }
         .string_table_linear_regression{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            height: 40px;
            .width_data1_table_linear_regression{
               width: 70px;
               // border: 1px solid rgb(0, 217, 255);
            }
            .width_data2_table_linear_regression{
               width: 100px;
               // border: 1px solid rgb(0, 217, 255);
            }
            .width_data3_table_linear_regression{
               width: 150px;
               // border: 1px solid rgb(0, 217, 255);
            }
         }
         .string_end_table_linear_regression{
            border-bottom: 1px solid gray;
         }
      }
   }
}
//ПРИМЕНЕНИЕ СТАНДАРТНОГО ОТКЛОНЕНИЯ
.main_box_article{
   .txt_box_article_general{
      .table_data_standard_deviation{
         max-width: 450px;
         margin: 20px auto;
         text-align: center;
         .string_header_table_standard_deviation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            height: 40px;
            border-bottom: 1px solid gray;
            .width_data1_table_standard_deviation{
               width: 130px;
            }
            .width_data2_table_standard_deviation{
               width: 130px;
            }
         }
         .string_table_standard_deviation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            .width_data1_table_standard_deviation{
               width: 130px;
            }
            .width_data2_table_standard_deviation{
               width: 130px;
            }
         }
         .string_end_table_standard_deviation{
            border-bottom: 1px solid gray;
         }
      }
      .formula_standard_deviation{
         margin: 20px 0;
      }
      .fso_1{
         height: 145px;
      }
      .fso_2{
         height: 115px;
      }
      .fso_3{
         height: 28px;
      }
      .diagram_standard_deviation{
         display: block;
         margin: 20px auto;
         width: 80%;
      }
   }
}