.main_help{
   max-width: 1200px;
   padding: 0 20px;
   padding-top: 60px;
   // border: 1px solid blueviolet;
   margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
   .h1_help{
      font-size: 40px;
      margin-bottom: 50px;
   }
   .h2_help{
      font-size: 24px;
      margin-bottom: 10px;
      margin-top: 30px;
   }
   .txt_help{
      width: 80%;
      line-height: 1.5;
      a{
         color: blue;
      }
   }
}