*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;}
@import "../scss/index/header_index";
@import "../scss/index/footer_index";
@import "../scss/general/main_menu";
@import "../scss/general/footer";
@import "../scss/statistics/home_statistics/header_statistics";
@import "../scss/statistics/home_statistics/footer_statistics";
@import "../scss/statistics/home_statistics/menu_statistics";
@import "../scss/general/home_article";