.home_blog{
   max-width: 1200px;
   margin: 0 auto;
   margin-top: 50px;
   padding: 0 20px;
   font-family: 'Montserrat', sans-serif;
   .h1_home_blog{
      margin-bottom: 30px;
      text-align: center;
      font-weight: 400;
      font-size: 38px;
   }
   .box_new_blog{
      width: 100%;
      height: 300px;
      display: flex;
      .box_img_new_blog{
         width: 400px;
         height: 100%;
      }
      .img6_new_blog_home{
         background: url(/img/blog/home/1/home_spisok_samykh_vysokikh_zdaniy_irkutsk.webp) center no-repeat;
         background-size: cover;
      }
      .img5_new_blog_home{
         background: url(/img/blog/home/1/home_torgovyy_kompleks_irkutsk.webp) center no-repeat;
         background-size: cover;
      }
      .img4_new_blog_home{
         background: url(/img/blog/home/1/home_samyye_vysokiye_zdaniya_irkutsk.webp) center no-repeat;
         background-size: cover;
      }
      .img3_new_blog_home{
         background: url(/img/blog/home/1/home_kvartira_so_vtorym_etazhom.webp) center no-repeat;
         background-size: cover;
      }
      .img2_new_blog_home{
         background: url(/img/blog/home/1/home_primeneniye_lineynoy_regressii.webp) center no-repeat;
         background-size: cover;
      }
      .img1_new_blog_home{
         background: url(/img/blog/home/1/home_standartnoye_otkloneniye.webp) center no-repeat;
         background-size: cover;
      }
      .txt_new_blog{
         width: calc(100% - 400px);
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding-left: 30px;
         padding-right: 70px;
         border-top: 1px solid gray;
         a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 15px;
            &:hover{
               text-decoration: underline;
            }
         }
         .date_new_blog{
            margin-bottom: 10px;
            font-size: 14px;
         }
         .txt_home_new_blog{
            line-height: 1.5;
         }
      }
   }
}

//СТАТЬЯ GENERAL===========================================
.main_box_article{
   max-width: 1200px;
   margin: 0 auto;
   padding: 50px 20px 0 20px;
   // border: 2px solid red;
   font-family: 'Montserrat', sans-serif;
   .h1_main_article{
      font-size: 26px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 40px;
   }
   .txt_box_article_general{
      max-width: 1000px;
      margin: 0 auto;
   }
   .txt_article_general{
      font-size: 20px;
      line-height: 1.6;
      text-align: justify;
      .link_article_general{
         color: blue;
      }
   }
   .box_img_article_general{
      width: 100%;
      margin: 10px 0;
      img{
         width: 100%;
      }
      .header_img_article_general{
         text-align: center;
         font-style: italic;
         font-size: 14px;
      }
   }
}